VITE_THESPORTSDB_KEY=123
API_FOOTBALL_KEY=tu_clave_privada
FOOTBALL_DATA_KEY=tu_token_de_football_data
THE_ODDS_API_KEY=tu_clave_de_the_odds_api
VITE_GOOGLE_CLIENT_ID=tu_google_client_id_web
GOOGLE_CLIENT_ID=tu_google_client_id_web
